<h1>Burgers!</h1>

<ul>
  {{#each burgers}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Burger: {{this.burger}}</p>
  	</li>
  {{/each}}
</ul>

<div>
  <form action="/" method="POST">
  	<textarea type="text" name="burgerInput"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>
